<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | Sales</title>
	</head>
	<body>
		<div th:insert="~{navBar/admin.html::div-header}"></div>
		<main>
			<div>
				<h1>Welcome to the sales, admin!</h1>
			</div>
			<section>
				<form>
					<label>Choose The Order:
						<select name="order">
							<option value="orderAscByDateTime" th:selected="${order == 'orderAscByDateTime'}">Ascendent By DateTime</option>
							<option value="orderDescByDateTime" th:selected="${order == 'orderDescByDateTime'}">Descendent By DateTime</option>
							<option value="orderAscByUsername" th:selected="${order == 'orderAscByUsername'}">Ascendent By Username</option>
							<option value="orderDescByUsername" th:selected="${order == 'orderDescByUsername'}">Descendent By Username</option>
							<option value="orderAscByMethodOfPay" th:selected="${order == 'orderAscByMethodOfPay'}">Ascendent By Method Of Pay</option>
							<option value="orderDescByMethodOfPay" th:selected="${order == 'orderDescByMethodOfPay'}">Descendent By Method Of Pay</option>
							<option value="orderAscByPurchasePrice" th:selected="${order == 'orderAscByPurchasePrice'}">Ascendent By Purchase Price</option>
							<option value="orderDescByPurchasePrice" th:selected="${order == 'orderDescByPurchasePrice'}">Descendent By Purchase Price</option>
						</select>
					</label>
					<button id="applyOrderButton" type="button">Apply</button>
				</form>
				<form>
					<label>Choose Filters:
						<details id="datesContainer">
							<summary>Date</summary>
							<details id="dateContainer">
								<summary>Specific Date</summary>
								<input type="date" name="date" onkeydown="return false;" id="date">
							</details>
							<details id="fromDateContainer">
								<summary>After Or Equal To Date</summary>
								<input type="date" name="fromDate" onkeydown="return false;" id="fDate">
							</details>
							<details id="untilDateContainer">
								<summary>Before or Equal To Date</summary>
								<input type="date" name="untilDate" onkeydown="return false;" id="uDate">
							</details>
							<details id="rangeDateContainer">
								<summary>Date To Date</summary>
								<input type="date" name="rangeFromDate" onkeydown="return false;" id="rFDate">
								<input type="date" name="rangeUntilDate" onkeydown="return false;" id="rUDate">
							</details>
						</details>
						<details id="timesContainer">
							<summary>Time</summary>
							<details id="fromTimeContainer">
								<summary>After Or Equal To Time</summary>
								<input type="time" name="fromTime" onkeydown="return false;" id="fTime">
							</details>
							<details id="untilTimeContainer">
								<summary>Before or Equal To Time</summary>
								<input type="time" name="untilTime" onkeydown="return false;" id="uTime">
							</details>
							<details id="rangeTimeContainer">
								<summary>Time To Time</summary>
								<input type="time" name="rangeFromTime" onkeydown="return false;" id="rFTime">
								<input type="time" name="rangeUntilTime" onkeydown="return false;" id="rUTime">
							</details>
						</details>
						<details id="usernameContainer">
							<span id="usernameMaxValues" th:data-max-values="${usernames.size()}" hidden></span>
							<summary>Username</summary>
							<input type="checkbox" name="username" value="all" id="username-all" th:checked="${username == 'all'}" autocomplete="off">
							<label for="username-all">All</label>
							<div th:each="username, iterStat : ${usernames}">
						        <input type="checkbox" name="username" th:value="${username}" th:id="'username-' + ${iterStat.index}" autocomplete="off" disabled>
						        <label th:for="'username-' + ${iterStat.index}" th:text="${username}"></label>
						    </div>	
						</details>
						<details id="methodOfPayContainer">
							<span id="methodOfPayMaxValues" th:data-max-values="2" hidden></span>
							<summary>Method Of Pay</summary>
							<input type="checkbox" name="methodOfPay" value="all" id="methodOfPay-all" th:checked="${methodOfPay == 'all'}">
							<label for="methodOfPay-all">All</label>	
							<div>
								<input type="checkbox" name="methodOfPay" value="Debit" id="methodOfPay-1" th:checked="${methodOfPay == 'Debit'}" disabled>
								<label for="methodOfPay-1">Debit</label>	
							</div>
							<div>
								<input type="checkbox" name="methodOfPay" value="Credit" id="methodOfPay-2" th:checked="${methodOfPay == 'Credit'}" disabled>
								<label for="methodOfPay-2">Credit</label>
							</div>	
						</details>
						<details id="salePricesContainer">
							<summary>Sale Price</summary>
							<details id="fromSalePriceContainer">
								<summary>Greater Or Equal To Price</summary>
								<input type="text" inputmode="decimal" name="fromSalePrice" th:value="${fromSalePrice}" id="fPrice">
							</details>
							<details id="untilSalePriceContainer">
								<summary>Less or Equal To Price</summary>
								<input type="text" inputmode="decimal" name="untilSalePrice" th:value="${untilSalePrice}" id="uPrice">
							</details>
							<details id="rangeSalePriceContainer">
								<summary>Price To Price</summary>
								<input type="text" inputmode="decimal" name="rangeFromSalePrice" th:value="${rangeFromSalePrice}" id="rFPrice">
								<input type="text" inputmode="decimal" name="rangeUntilSalePrice" th:value="${rangeUntilSalePrice}" id="rUPrice">
							</details>
						</details>
					</label>
					<button id="applyFiltersButton" type="button">Apply</button>
				</form>
				<button id="resetAllButton" type="button">Reset All</button>
			    <table border="3" id="dataTable">
			        <thead>
			            <tr>
			                <th>Sale Id</th>
			                <th>Username</th>
			                <th>Method Of Pay</th>
			                <th>Date Time</th>
			                <th>Total Sale</th>
			            </tr>
			        </thead>
			        <tbody id="tbodyDataTable">
			            <tr th:each="sale: ${sales}">
			                <td>
			                    <details>
			                        <summary th:text="${sale.purchaseId}"></summary>
			                        <summary>Details Of The Sale</summary>
			                        <table border="3">
			                            <thead>
			                                <tr>
			                                    <th>Sale Item Id</th>
			                                    <th>Product Code</th>
			                                    <th>Amount</th>
			                                    <th>Subtotal Sale</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                                <tr th:each="saleItem: ${sale.purchaseItems}">
			                                    <td th:text="${saleItem.purchaseItemId}"></td>
			                                    <td th:text="${saleItem.product.code}"></td>
			                                    <td th:text="${saleItem.amount}"></td>
			                                    <td th:text="${saleItem.calculateSubtotalSale()}"></td>
			                                </tr>
			                            </tbody>
			                        </table>
			                    </details>
			                </td>
			                <td th:text="${sale.member.username}"></td>
			                <td th:text="${sale.methodOfPay}"></td>
			                <td th:text="${sale.dateTime}"></td>
			                <td th:text="${sale.calculateTotalSale()}"></td>
			            </tr>
						<tr th:if="${sales.size() == 0}">
							<td colspan="5" style="text-align: center; font-style: italic; color: gray;">
					            No results found.
					        </td>
						</tr>
			        </tbody>
			    </table>
			</section>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
	<script type="module" src="/js/purchasesAndSales.js"></script>
	<script type="module" src="/js/sales.js"></script>
</html>