<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | Sales</title>
	</head>
	<body>
		<div th:insert="~{navBar/admin.html::div-header}"></div>
		<main>
			<div>
				<h1>Welcome to the sales, admin!</h1>
			</div>
			<section id="salesSection">
				<form>
					<label>Choose The Order:
						<select name="order">
							<option value="p.date_time ASC" th:selected="${order == 'p.date_time ASC'}">Ascendent By DateTime</option>
							<option value="p.date_time DESC" th:selected="${order == 'p.date_time DESC'}">Descendent By DateTime</option>
							<option value="m.username ASC" th:selected="${order == 'm.username ASC'}">Ascendent By Username</option>
							<option value="m.username DESC" th:selected="${order == 'm.username DESC'}">Descendent By Username</option>
							<option value="p.method_of_pay ASC" th:selected="${order == 'p.method_of_pay ASC'}">Ascendent By Method Of Pay</option>
							<option value="p.method_of_pay DESC" th:selected="${order == 'p.method_of_pay DESC'}">Descendent By Method Of Pay</option>
							<option value="p.total_price ASC" th:selected="${order == 'p.total_price ASC'}">Ascendent By Purchase Price</option>
							<option value="p.total_price DESC" th:selected="${order == 'p.total_price DESC'}">Descendent By Purchase Price</option>
						</select>
					</label>
					<button id="applyOrderButton" type="button">Apply</button>
				</form>
				<form>
					<label>Choose Filters:
						<details id="datesContainer">
							<summary>Date</summary>
							<details id="dateContainer">
								<summary>Specific Date</summary>
								<input type="date" name="date" onkeydown="return false;" id="date">
							</details>
							<details id="fromDateContainer">
								<summary>After Or Equal To Date</summary>
								<input type="date" name="fromDate" onkeydown="return false;" id="fDate">
							</details>
							<details id="untilDateContainer">
								<summary>Before or Equal To Date</summary>
								<input type="date" name="untilDate" onkeydown="return false;" id="uDate">
							</details>
							<details id="rangeDateContainer">
								<summary>Date To Date</summary>
								<input type="date" name="rangeFromDate" onkeydown="return false;" id="rFDate">
								<input type="date" name="rangeUntilDate" onkeydown="return false;" id="rUDate">
							</details>
						</details>
						<details id="timesContainer">
							<summary>Time</summary>
							<details id="fromTimeContainer">
								<summary>After Or Equal To Time</summary>
								<input type="time" name="fromTime" onkeydown="return false;" id="fTime">
							</details>
							<details id="untilTimeContainer">
								<summary>Before or Equal To Time</summary>
								<input type="time" name="untilTime" onkeydown="return false;" id="uTime">
							</details>
							<details id="rangeTimeContainer">
								<summary>Time To Time</summary>
								<input type="time" name="rangeFromTime" onkeydown="return false;" id="rFTime">
								<input type="time" name="rangeUntilTime" onkeydown="return false;" id="rUTime">
							</details>
						</details>
						<details id="usernameContainer">
							<span id="usernameMaxValues" th:data-max-values="${usernames.size()}" hidden></span>
							<summary>Username</summary>
							<input type="checkbox" name="username" value="all" id="username-all" th:checked="${username == 'all'}" autocomplete="off">
							<label for="username-all">All</label>
							<div th:each="username, iterStat : ${usernames}">
						        <input type="checkbox" name="username" th:value="${username}" th:id="'username-' + ${iterStat.index}" autocomplete="off" disabled>
						        <label th:for="'username-' + ${iterStat.index}" th:text="${username}"></label>
						    </div>	
						</details>
						<details id="methodOfPayContainer">
							<span id="methodOfPayMaxValues" th:data-max-values="${methodsOfPay.size()}" hidden></span>
							<summary>Method Of Pay</summary>
							<input type="checkbox" name="methodOfPay" value="all" id="methodOfPay-all" th:checked="${methodOfPay == 'all'}">
							<label for="methodOfPay-all">All</label>	
							<div th:each="method, iterStat : ${methodsOfPay}">
						        <input type="checkbox" name="methodOfPay" th:value="${method}" th:id="'methodOfPay-' + ${iterStat.index}" autocomplete="off" disabled>
						        <label th:for="'methodOfPay-' + ${iterStat.index}" th:text="${method}"></label>
						    </div>		
						</details>
						<details id="pricesContainer">
							<summary>Price</summary>
							<details id="fromPriceContainer">
								<summary>Greater Or Equal To Price</summary>
								<input type="text" inputmode="decimal" name="fromPrice" th:value="${fromPrice}" id="fPrice">
							</details>
							<details id="untilPriceContainer">
								<summary>Less or Equal To Price</summary>
								<input type="text" inputmode="decimal" name="untilPrice" th:value="${untilPrice}" id="uPrice">
							</details>
							<details id="rangePriceContainer">
								<summary>Price To Price</summary>
								<input type="text" inputmode="decimal" name="rangeFromPrice" th:value="${rangeFromPrice}" id="rFPrice">
								<input type="text" inputmode="decimal" name="rangeUntilPrice" th:value="${rangeUntilPrice}" id="rUPrice">
							</details>
						</details>
					</label>
					<button id="applyFiltersButton" type="button">Apply</button>
				</form>
				<button id="resetAllButton" type="button">Reset All</button>
			    <table border="3" id="dataTable">
			        <thead>
			            <tr>
			                <th>Sale Id</th>
			                <th>Username</th>
			                <th>Method Of Pay</th>
			                <th>Date Time</th>
			                <th>Total Sale</th>
			            </tr>
			        </thead>
			        <tbody id="tbodyDataTable">
			            <tr th:each="sale: ${paginated.purchases}">
			                <td>
			                    <details>
			                        <summary th:text="${sale.purchaseId}"></summary>
			                        <summary>Details Of The Sale</summary>
			                        <table border="3">
			                            <thead>
			                                <tr>
			                                    <th>Sale Item Id</th>
			                                    <th>Product Code</th>
			                                    <th>Amount</th>
			                                    <th>Subtotal Sale</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                                <tr th:each="saleItem: ${sale.purchaseItems}">
			                                    <td th:text="${saleItem.purchaseItemId}"></td>
			                                    <td th:text="${saleItem.product.code}"></td>
			                                    <td th:text="${saleItem.amount}"></td>
			                                    <td th:text="${saleItem.totalPrice}"></td>
			                                </tr>
			                            </tbody>
			                        </table>
			                    </details>
			                </td>
			                <td th:text="${sale.member.username}"></td>
			                <td th:text="${sale.methodOfPay}"></td>
			                <td th:text="${sale.dateTime}"></td>
			                <td th:text="${sale.totalPrice}"></td>
			            </tr>
						<tr th:if="${paginated.purchases.size() == 0}">
							<td colspan="5" style="text-align: center; font-style: italic; color: gray;">
					            No results found.
					        </td>
						</tr>
			        </tbody>
			    </table>
				<div id="pagination">
					<button th:each="pageNum: ${#numbers.sequence(0, paginated.totalPages - 1)}"
					        th:text="${pageNum + 1}"
					        th:classappend="${pageNum == 0} ? 'active' : ''"
					        th:data-page="${pageNum}"
					        th:style="${pageNum == 0} ? 'background-color: orange;' : ''">
					</button>
				</div>
			</section>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
	<script type="module" src="/js/sales.js"></script>
</html>