<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | Sales</title>
	</head>
	<body>
		<div th:insert="~{navBar/admin.html::div-header}"></div>
		<main>
			<div>
				<h1>Welcome to the sales, admin!</h1>
			</div>
			<section>
				<form action="/sale/sales" method="get">
					<input type="hidden" name="date" th:value="${date}">
					<input type="hidden" name="fromDate" th:value="${fromDate}">
					<input type="hidden" name="untilDate" th:value="${untilDate}">
					<input type="hidden" name="rangeFromDate" th:value="${rangeFromDate}">
					<input type="hidden" name="rangeUntilDate" th:value="${rangeUntilDate}">
					<input type="hidden" name="time" th:value="${time}">
					<input type="hidden" name="fromTime" th:value="${fromTime}">
					<input type="hidden" name="untilTime" th:value="${untilTime}">
					<input type="hidden" name="rangeFromTime" th:value="${rangeFromTime}">
					<input type="hidden" name="rangeUntilTime" th:value="${rangeUntilTime}">
					<input type="hidden" name="username" th:value="${username}">
					<input type="hidden" name="methodOfPay" th:value="${methodOfPay}">
					<input type="hidden" name="fromSalePrice" th:value="${fromSalePrice}">
					<input type="hidden" name="untilSalePrice" th:value="${untilSalePrice}">
					<input type="hidden" name="rangeFromSalePrice" th:value="${rangeFromSalePrice}">
					<input type="hidden" name="rangeUntilSalePrice" th:value="${rangeUntilSalePrice}">
					<label>Choose The Order:
						<select name="order" required>
							<option value="orderAscByDateTime" th:selected="${order == 'orderAscByDateTime'}">Ascendent By DateTime</option>
							<option value="orderDescByDateTime" th:selected="${order == 'orderDescByDateTime'}">Descendent By DateTime</option>
							<option value="orderAscByUsername" th:selected="${order == 'orderAscByUsername'}">Ascendent By Username</option>
							<option value="orderDescByUsername" th:selected="${order == 'orderDescByUsername'}">Descendent By Username</option>
							<option value="orderAscByMethodOfPay" th:selected="${order == 'orderAscByMethodOfPay'}">Ascendent By Method Of Pay</option>
							<option value="orderDescByMethodOfPay" th:selected="${order == 'orderDescByMethodOfPay'}">Descendent By Method Of Pay</option>
							<option value="orderAscByPurchasePrice" th:selected="${order == 'orderAscByPurchasePrice'}">Ascendent By Purchase Price</option>
							<option value="orderDescByPurchasePrice" th:selected="${order == 'orderDescByPurchasePrice'}">Descendent By Purchase Price</option>
						</select>
					</label>
					<button type="submit">Apply</button>
				</form>
				<form action="/sale/sales" method="get">
					<input type="hidden" name="order" th:value="${order}">
					<label>Choose Filters:
						<details>
							<summary>Date</summary>
							<details>
								<summary>Specific Date</summary>
								<input type="date" name="date" th:value="${date}">
							</details>
							<details>
								<summary>After Or Equal To Date</summary>
								<input type="date" name="fromDate" th:value="${fromDate}">
							</details>
							<details>
								<summary>Before or Equal To Date</summary>
								<input type="date" name="untilDate" th:value="${untilDate}">
							</details>
							<details>
								<summary>Date To Date</summary>
								<input type="date" name="rangeFromDate" th:value="${rangeFromDate}">
								<input type="date" name="rangeUntilDate" th:value="${rangeUntilDate}">
							</details>
						</details>
						<details>
							<summary>Time</summary>
							<details>
								<summary>After Or Equal To Time</summary>
								<input type="time" name="fromTime" th:value="${fromTime}">
							</details>
							<details>
								<summary>Before or Equal To Time</summary>
								<input type="time" name="untilTime" th:value="${untilTime}">
							</details>
							<details>
								<summary>Time To Time</summary>
								<input type="time" name="rangeFromTime" th:value="${rangeFromTime}">
								<input type="time" name="rangeUntilTime" th:value="${rangeUntilTime}">
							</details>
						</details>
						<details>
							<summary>Username</summary>
							<select name="username">
							    <option value="All" th:selected="${username == 'All'}">All</option>
							    <option th:each="u: ${usernames}" th:value="${u}" th:text="${u}" th:selected="@{${u == username}}"></option>
							</select>
						</details>
						<details>
							<summary>Method Of Pay</summary>
							<select name="methodOfPay">
								<option value="All" th:selected="${methodOfPay == 'All'}">All</option>
								<option value="Debit" th:selected="${methodOfPay == 'Debit'}">Debit</option>
								<option value="Credit" th:selected="${methodOfPay == 'Credit'}">Credit</option>
							</select>
						</details>
						<details>
							<summary>Sale Price</summary>
							<details>
								<summary>Greater Or Equal To Price</summary>
								<input type="number" min="1" name="fromSalePrice" th:value="${fromSalePrice}">
							</details>
							<details>
								<summary>Less or Equal To Price</summary>
								<input type="number" min="1" name="untilSalePrice" th:value="${untilSalePrice}">
							</details>
							<details>
								<summary>Price To Price</summary>
								<input type="number" min="1" name="rangeFromSalePrice" th:value="${rangeFromSalePrice}">
								<input type="number" min="1" name="rangeUntilSalePrice" th:value="${rangeUntilSalePrice}">
							</details>
						</details>
					</label>
					<button type="submit">Apply</button>
				</form>
				<form action="/sale/sales" method="get">
					<input type="hidden" name="order" th:value="${order}">
					<button type="submit">Reset All</button>
				</form>
			    <table border="3">
			        <thead>
			            <tr>
			                <th>Sale Id</th>
			                <th>Username</th>
			                <th>Method Of Pay</th>
			                <th>Date Time</th>
			                <th>Total Sale</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr th:each="sale: ${sales}">
			                <td>
			                    <details>
			                        <summary th:text="${sale.purchaseId}"></summary>
			                        <summary>Details Of The Sale</summary>
			                        <table border="3">
			                            <thead>
			                                <tr>
			                                    <th>Sale Item Id</th>
			                                    <th>Product Code</th>
			                                    <th>Amount</th>
			                                    <th>Subtotal Sale</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                                <tr th:each="saleItem: ${sale.purchaseItems}">
			                                    <td th:text="${saleItem.purchaseItemId}"></td>
			                                    <td th:text="${saleItem.product.code}"></td>
			                                    <td th:text="${saleItem.amount}"></td>
			                                    <td th:text="${saleItem.calculateSubtotalSale()}"></td>
			                                </tr>
			                            </tbody>
			                        </table>
			                    </details>
			                </td>
			                <td th:text="${sale.member.username}"></td>
			                <td th:text="${sale.methodOfPay}"></td>
			                <td th:text="${sale.dateTime}"></td>
			                <td th:text="${sale.calculateTotalSale()}"></td>
			            </tr>
			        </tbody>
			    </table>
			</section>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
</html>