<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | Purchase Items</title>
	</head>
	<body>
		<div th:insert="~{navBar/customer.html::div-header}"></div>
		<main>
			<h1>Customize Your Purchase!</h1>
			<section>
				<h2>My Shopping Car</h2>
				<table border="3">
					<thead>
						<tr>
							<th>Image</th>
							<th>Name</th>
							<th>Size</th>
							<th>Color</th>
							<th>Unit Sales Price</th>
							<th>Amount</th>
							<th>Subtotal</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody class="tbody">
					    <tr th:each="purchaseItem, stat : ${purchaseItems.values()}">
					        <td>
					            <img th:src="@{${'/assets/img/products/' + purchaseItem.product.gender + '/' + purchaseItem.product.category + '/' + purchaseItem.product.imageName + '.jpeg'}}"/>
					        </td>
					        <td th:text="${purchaseItem.product.name}"></td>
					        <td th:text="${purchaseItem.product.size}"></td>
					        <td th:style="'background-color:' + ${purchaseItem.product.color} + '; color: ' + ${purchaseItem.product.color} + ';'">Color</td>
					        <td th:text="${purchaseItem.product.salePrice}"></td>
							<td>
					            <button class="substract-amount-button" th:data-product-id="${purchaseItem.product.productId}" th:disabled="${purchaseItem.amount == 1}">-</button>
					            <span class="amount-item" th:data-product-id="${purchaseItem.product.productId}" th:text="${purchaseItem.amount}"></span>
					            <button class="add-amount-button" th:data-product-id="${purchaseItem.product.productId}" th:disabled="${purchaseItem.amount == actualAmounts[stat.index]}">+</button>
					        </td>
					        <td class="subtotal-item" th:data-product-id="${purchaseItem.product.productId}" th:text="${purchaseItem.calculateSubtotalSale()}"></td>
					        <td>
					            <a th:href="@{${'/purchase/removePurchaseItem/' + purchaseItem.product.productId}}">Remove</a>
					        </td>
					    </tr>
					    <tr>
					        <td class="purchase-total" th:text="'Total = USD' + ${purchaseTotal}"></td>
					    </tr>
					</tbody>
				</table>
				<a href="/product/products/customer">View More Products</a>
			</section>
			<a href="/purchase/purchaseForm" th:if="${purchaseItems.size() > 0}">Start Shopping</a>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
	<script src="/js/changeAmountItem.js"></script>
</html>