<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | Customers</title>
	</head>
	<body>
		<div th:insert="~{navBar/admin.html::div-header}"></div>
		<main>
			<div>
				<h1>Welcome to the customers, admin!</h1>
			</div>
			<section>
				<form>
					<label>Choose The Order:
						<select name="order">
							<option value="m.name ASC" th:selected="${order == 'm.name ASC'}">Ascendent By Name</option>
							<option value="m.name DESC" th:selected="${order == 'm.name DESC'}">Descendent By Name</option>
							<option value="m.last_name ASC" th:selected="${order == 'm.last_name ASC'}">Ascendent By Last Name</option>
							<option value="m.last_name DESC" th:selected="${order == 'm.last_name DESC'}">Descendent By Last Name</option>
							<option value="m.username ASC" th:selected="${order == 'm.username ASC'}">Ascendent By Username</option>
							<option value="m.username DESC" th:selected="${order == 'm.username DESC'}">Descendent By Username</option>
						</select>
					</label>
					<button type="button" id="applyOrderButton">Apply</button>
				</form>
				<form>
				    <label>Choose The Filter:
						<details id="enabledFilterContainer">
							<summary>Customer's State</summary>
							<label>All <input type="radio" name="enabled" value="all" th:checked="${enabled == 'all'}"></label>
					        <label>Enabled <input type="radio" name="enabled" value="true" th:checked="${enabled == 'true'}"></label>
					        <label>Not Enabled <input type="radio" name="enabled" value="false" th:checked="${enabled == 'false'}"></label>
				    	</details>
					</label>
				    <button type="button" id="applyFilterButton">Apply</button>
				</form>
				<table border="3" id="customerTable">
					<thead>
						<tr>
							<th>Member Id</th>
							<th>Username</th>
							<th>Enabled</th>				
							<th>Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id="tBodyCustomerTable">
						<tr th:if="${paginated.members.size() == 0}">
							<td colspan="7" style="text-align: center; font-style: italic; color: gray;">
								No results found.
					        </td>
				        </tr>
						<tr th:each="customer: ${paginated.members}" th:id="'row-' + ${customer.memberId}">
							<td th:text="${customer.memberId}"></td>
							<td th:text="${customer.username}"></td>
							<td th:text="${customer.enabled ? 'Yes' : 'No'}" class="enabled-status"></td>
							<td th:text="${customer.name}"></td>
							<td th:text="${customer.lastName}"></td>
							<td th:text="${customer.email}"></td>
							<td>
								<button
									class="change-status-btn" 
									th:data-member-id="${customer.memberId}" 
									th:data-current-status="${customer.enabled}">
									Change Enabled
							 	</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="pagination">
					<button th:each="pageNum: ${#numbers.sequence(0, paginated.totalPages - 1)}"
					        th:text="${pageNum + 1}"
					        th:classappend="${pageNum == 0} ? 'active' : ''"
					        th:data-page="${pageNum}"
					        th:style="${pageNum == 0} ? 'background-color: orange;' : ''">
					</button>
				</div>
			</section>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
	<script type="module" src="/js/customers.js"></script>
</html>