<div th:fragment="div-header">
     <header>
		 <nav>
		    <div>
			   <a href="/index">Home</a>
			   <a href="/product/products/customer">Shop</a>
			   <a href="/stores/customer">Stores</a>
			   <a href="/aboutUs/customer">About Us</a>
			   <a href="/help/customer">Help</a>
			   <a href="/myAccount/customer">My Account</a>
			   <a href="/purchase/purchaseItems">My Shopping Car</a>
			   <a href="/">Log Out<!--<img class="btn" src="/assets/img/logout.jpeg">--></a>
		   </div>
		 </nav>
	</header>
</div>