<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | Products</title>
	</head>
	<body>
		<div th:insert="~{navBar/admin.html::div-header}"></div>
		<main>
			<section>
				<h1>Edit Product</h1>
				<form th:object="${product}" action="#" th:action="@{/product/postEdit}" enctype="multipart/form-data" method="post">
					<input type="hidden" th:field="*{productId}">
					<input type="hidden" th:field="*{imageName}">
					<label>Code: <input type="text" th:field="*{code}" required></label>
					<label>Category:
						<select th:field="*{category}" required> 
							<option value="Jackets">Jackets</option>
							<option value="Jeans">Jeans</option>
							<option value="Jumpers">Jumpers</option>
							<option value="Long Sleeve T-Shirts">Long Sleeve T-Shirts</option>
							<option value="Pants">Pants</option>
							<option value="Short Sleeve T-Shirts">Short Sleeve T-Shirts</option> 
						</select>
					</label>
					<label>Gender:
						<select th:field="*{gender}" required> 
							<option value="M">M</option> 
							<option value="W">W</option> 
						</select>
					</label>
					<label>Size: 
						<select th:field="*{size}" required> 
							<option value="22">22</option> 
							<option value="24">24</option> 
							<option value="25">25</option> 
							<option value="26">26</option> 
							<option value="26/XS">26/XS</option> 
							<option value="27">27</option> 
							<option value="28">28</option>
							<option value="28/S">28/S</option>
							<option value="30">30</option> 
							<option value="30/M">30/M</option> 
							<option value="32">32</option>
							<option value="32/L">32/L</option> 
							<option value="34">34</option>
							<option value="34/XL">34/XL</option>
							<option value="35">35</option> 
							<option value="36">36</option> 
							<option value="36/XXL">36/XXL</option>
							<option value="37">37</option> 
							<option value="38">38</option> 
							<option value="40">40</option> 
							<option value="42">42</option> 
							<option value="44">44</option> 
							<option value="S">S</option> 
							<option value="M">M</option> 
							<option value="L">L</option> 
							<option value="XL">XL</option> 
						</select>
					</label>
					<label>Color: <input type="color" th:field="*{color}" required></label>
					<label>Cost: $<input type="number" th:field="*{cost}" min="1" required></label>
					<label>Sale Price: $<input type="number" th:field="*{salePrice}" required></label>
					<label>Name: <input type="text" th:field="*{name}" required></label>
					<label>Description: <textarea th:field="*{description}" required></textarea></label>
					<label>Enabled: 
						True <input type="radio" th:field="*{enabled}" value="true" required/>
						False <input type="radio" th:field="*{enabled}" value="false" required/>
					</label>
					<label>Image: 
						<img th:src="@{'/assets/img/products/'+*{gender}+'/'+*{category}+'/'+*{imageName}+'.jpeg'}">
						<input type="file" accept=".jpeg" name="imageFile">
					</label>
					<input type="submit" value="Confirm">
				</form>
				<p th:text="${error}"></p>
			</section>
			<a href="/index">Cancel</a>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
</html>