<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | My Account</title>
	</head>
	<body>
		<div th:with="navbarPath='navBar/' + ${role} + '.html'">
			<div th:insert="~{${navbarPath}::div-header}"></div>
		</div>
		<main>
			<h2>My New Profile</h2>
			<div>
				<p>Username: <span th:text="${updatedMember.username}"></span></p>
				<p>Name: <span th:text="${updatedMember.name}"></span></p>
				<p>Last Name: <span th:text="${updatedMember.lastName}"></span></p>
				<p>Email: <span th:text="${updatedMember.email}"></span></p>
			<div>
			<a href="/index">Go To Index</a>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
</html>