<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8" />
		<title>Cultura Jean | Supply Orders</title>
    </head>
	<body>
		<div th:insert="~{navBar/admin.html::div-header}"></div>
		<section>
			<h1>Create A New Supply Order:</h1>
			<form action="#" th:action="@{/supplyOrder/supplyOrderAdd}" method="post">
				<p>Product Code: <input type="text" th:value="${productCode}" name="productCode" readonly required></input></p>
				<p>Supplier: 
					<select name="supplierName" required> 
						<option th:each="supplierName: ${suppliersNames}" th:text="${supplierName}"></option> 
					</select>
				</p>
				<p>Amount to buy: <input type="number" name="amount" min="1" required/></p>
				<input type="submit" value="Generate Supply Order">
			</form>	
		</section>
		<a href="/index">Cancel</a>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>	
</html>