<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | My Account</title>
	</head>
	<body>
		<div th:insert="~{navBar/admin.html::div-header}"></div>
		<main>
			<div>
				<h1>Welcome to your account, admin!</h1>
			</div>
			<section>
				<h2>My Profile</h2>
				<div>
					<p>Username: <span th:text="${member.username}"></span></p>
					<p>Name: <span th:text="${member.name}"></span></p>
					<p>Last Name: <span th:text="${member.lastName}"></span></p>
					<p>Email: <span th:text="${member.email}"></span></p>
					<a th:href="@{/modifyProfileForm/admin/}+${member.username}">Modify My Profile</a>
				</div>
			</section>
			<section>
				<h2>My Supply Orders</h2>
				<form>
					<label>Choose The Order:
						<select name="order">
							<option value="p.code ASC" th:selected="${order == 'p.code ASC'}">Ascendent By Product Code</option>
							<option value="p.code DESC" th:selected="${order == 'p.code DESC'}">Descendent By Product Code</option>
							<option value="s.name ASC" th:selected="${order == 's.name ASC'}">Ascendent By Supplier Name</option>
							<option value="s.name DESC" th:selected="${order == 's.name DESC'}">Descendent By Supplier Name</option>
							<option value="so.amount ASC" th:selected="${order == 'so.amount ASC'}">Ascendent By Amount</option>
							<option value="so.amount DESC" th:selected="${order == 'so.amount DESC'}">Descendent By Amount</option>
						</select>
					</label>
					<button type="button" id="applyOrderButton">Apply</button>
				</form>
				<form>
					<label>Choose Filters:
						<span id="adminUsername" th:data-admin-username="${member.username}" hidden></span>
						<details id="pCodeContainer">
							<span id="pCodeMaxValues" th:data-max-values="${productCodes.size()}" hidden></span>
							<summary>Product Code</summary>
							<input type="checkbox" name="pCode" value="all" id="pCode-all" th:checked="${pCode == 'all'}">
							<label for="pCode-all">All</label>
							<div th:each="code, iterStat : ${productCodes}">
						        <input type="checkbox" name="pCode" th:value="${code}" th:id="'pCode-' + ${iterStat.index}" disabled>
						        <label th:for="'pCode-' + ${iterStat.index}" th:text="${code}"></label>
						    </div>		
						</details>
						<details id="sNameContainer">
							<span id="sNameMaxValues" th:data-max-values="${supplierNames.size()}" hidden></span>
							<summary>Supplier Name</summary>
							<input type="checkbox" name="sName" value="all" id="sName-all" th:checked="${sName == 'all'}">
							<label for="sName-all">All</label>
							<div th:each="name, iterStat : ${supplierNames}">
						        <input type="checkbox" name="sName" th:value="${name}" th:id="'sName-' + ${iterStat.index}" disabled>
						        <label th:for="'sName-' + ${iterStat.index}" th:text="${name}"></label>
						    </div>
						</details>
						<details id="amountsContainer">
							<summary>Amount</summary>
							<details id="amountContainer">
								<summary>Specific Amount</summary>
								<input type="text" inputmode="decimal" name="amount" th:value="${amount}" id="amount">
							</details>
							<details id="fromAmountContainer">
								<summary>Greater or Equal To Amount</summary>
								<input type="text" inputmode="decimal" name="fAmount" th:value="${fAmount}" id="fAmount">
							</details>
							<details id="untilAmountContainer">
								<summary>Less or Equal To Amount</summary>
								<input type="text" inputmode="decimal" name="uAmount" th:value="${uAmount}" id="uAmount">
							</details>
							<details id="rangeAmountContainer">
								<summary>Amount To Amount</summary>
								<input type="text" inputmode="decimal" name="rFAmount" th:value="${rFAmount}" id="rFAmount">
								<input type="text" inputmode="decimal" name="rUAmount" th:value="${rUAmount}" id="rUAmount">
							</details>
						</details>
						<details id="deliveredContainer">
							<summary>State Of The Supply Orders</summary>
							<label>All <input type="radio" name="delivered" value="all" th:checked="${delivered == 'all'}" id="delivered-all"></label>
							<label>Delivered <input type="radio" name="delivered" value="true" th:checked="${delivered == 'true'}" id="delivered-true"></label>
							<label>Undelivered <input type="radio" name="delivered" value="false" th:checked="${delivered == 'false'}" id="delivered-false"></label>
						</details>
					</label>
					<button type="button" id="applyFilterButton">Apply</button>
				</form>
				<button type="button" id="resetAllButton">Reset All</button>
				<table border="3" id="supplyOrdersTable">
					<thead>
						<tr>
							<th>Supply Order Id</th>
							<th>Product Code</th>		
							<th>Supplier Name</th>
							<th>Amount</th>
							<th>Delivered</th>
						</tr>
					</thead>
					<tbody id="tbodySupplyOrdersTable">
						<tr th:each="supplyOrder: ${paginated.supplyOrders}" th:id="'row-' + ${supplyOrder.supplyOrderId}">
							<td th:text="${supplyOrder.supplyOrderId}"></td>
							<td th:text="${supplyOrder.product.code}"></td>
							<td th:text="${supplyOrder.supplier.name}"></td>
							<td th:text="${supplyOrder.amount}"></td>
							<td th:text="${supplyOrder.delivered ? 'Yes' : 'No'}"></td>
						</tr>
						<tr th:if="${paginated.supplyOrders.size() == 0}">
						    <td colspan="5" style="text-align: center; font-style: italic; color: gray;">
						        No results found.
						    </td>
						</tr>
					</tbody>
				</table>
				<div id="pagination">
					<button th:each="pageNum: ${#numbers.sequence(0, paginated.totalPages - 1)}"
					        th:text="${pageNum + 1}"
					        th:classappend="${pageNum == 0} ? 'active' : ''"
					        th:data-page="${pageNum}"
					        th:style="${pageNum == 0} ? 'background-color: orange;' : ''">
					</button>
				</div>
			</section>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
	<script type="module" src="/js/adminAccount.js"></script>
	<script type="module" src="/js/amountValidations.js"></script>
</html>