<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Cultura Jean | Shop</title>
	</head>
	<body>
		<div th:insert="~{navBar/visitor.html::div-header}"></div>
		<main>
			<div>
				<h1>Welcome to the shop, visitor!</h1>
			</div>
			<span id="role" th:data-role="visitor" hidden></span>
			<section>
				<h2>Products</h2>
				<form>
					<label>Choose The Order:
						<select name="order">
							<option value="p.name ASC" th:selected="${order == 'p.name ASC'}">Ascendent By Name</option>
							<option value="p.name DESC" th:selected="${order == 'p.name DESC'}">Descendent By Name</option>
							<option value="p.sale_price ASC" th:selected="${order == 'p.sale_price ASC'}">Ascendent By Sale Price</option>
							<option value="p.sale_price DESC" th:selected="${order == 'p.sale_price DESC'}">Descendent By Sale Price</option>
						</select>
					</label>
					<button type="button" id="applyOrderButton">Apply</button>
				</form>
				<form>
					<label>Choose Filters:
						<details id="categoriesContainer">
							<span id="catMaxValues" th:data-max-values="${categories.size()}" hidden></span>
							<summary>Category</summary>
							<input type="checkbox" name="cat" value="all" id="cat-all" th:checked="${cat == 'all'}" autocomplete="off">
							<label for="cat-all">All</label>
							<div th:each="cat, iterStat : ${categories}">
						        <input type="checkbox" name="cat" th:value="${cat}" th:id="'cat-' + ${iterStat.index}" autocomplete="off" disabled>
						        <label th:for="'cat-' + ${iterStat.index}" th:text="${cat}"></label>
						    </div>	
						</details>
						<details id="gendersContainer">
							<span id="genMaxValues" th:data-max-values="${genders.size()}" hidden></span>
							<summary>Gender</summary>
							<input type="checkbox" name="gen" value="all" id="gen-all" th:checked="${gen == 'all'}" autocomplete="off">
							<label for="gen-all">All</label>
							<div th:each="gen, iterStat : ${genders}">
						        <input type="checkbox" name="gen" th:value="${gen}" th:id="'gen-' + ${iterStat.index}" autocomplete="off" disabled>
						        <label th:for="'gen-' + ${iterStat.index}" th:text="${gen}"></label>
						    </div>	
						</details>
						<details id="sizesContainer">
							<span id="sizeMaxValues" th:data-max-values="${sizes.size()}" hidden></span>
							<summary>Size</summary>
							<input type="checkbox" name="size" value="all" id="size-all" th:checked="${size == 'all'}" autocomplete="off">
							<label for="size-all">All</label>
							<div th:each="size, iterStat : ${sizes}">
						        <input type="checkbox" name="size" th:value="${size}" th:id="'size-' + ${iterStat.index}" autocomplete="off" disabled>
						        <label th:for="'size-' + ${iterStat.index}" th:text="${size}"></label>
						    </div>	
						</details>
						<details id="colorsContainer">
							<span id="colMaxValues" th:data-max-values="${colors.size()}" hidden></span>
							<summary>Color</summary>
							<input type="checkbox" name="col" value="all" id="col-all" th:checked="${col == 'all'}" autocomplete="off">
							<label for="col-all">All</label>
							<div th:each="col, iterStat : ${colors}">
						        <input type="checkbox" name="col" th:value="${col}" th:id="'col-' + ${iterStat.index}" autocomplete="off" disabled>
						        <label th:for="'col-' + ${iterStat.index}" th:style="'background-color:' + ${col} + '; color: ' + ${col} + ';'">Color</label>
						    </div>	
						</details>
						<details id="salePricesContainer">
							<summary>Sale Price</summary>
							<details id="specificSalePriceContainer">
								<summary>Specific Sale Price</summary>
								<input type="text" inputmode="decimal" name="sPri" th:value="${sPri}" id="sPri">
							</details>
							<details id="fromSalePriceContainer">
								<summary>Greater or Equal To Sale Price</summary>
								<input type="text" inputmode="decimal" name="fSPri" th:value="${fSPri}" id="fSPri">
							</details>
							<details id="untilSalePriceContainer">
								<summary>Less or Equal To Sale Price</summary>
								<input type="text" inputmode="decimal" name="uSPri" th:value="${uSPri}" id="uSPri">
							</details>
							<details id="rangeSalePriceContainer">
								<summary>Sale Price To Sale Price</summary>
								<input type="text" inputmode="decimal" name="rFSPri" th:value="${rFSPri}" id="rFSPri">
								<input type="text" inputmode="decimal" name="rUSPri" th:value="${rUSPri}" id="rUSPri">
							</details>
						</details>
					</label>
					<button type="button" id="applyFiltersButton">Apply</button>
				</form>
				<button type="button" id="resetAllButton">Reset All</button>
				<table border="3">
					<thead>
						<tr>
							<th>Name</th>
							<th>Sale Price</th>
							<th>Image</th>				
							<th>Action</th>
						 </tr>
					  </thead>
					  <tbody id="tbody">
						 <tr th:each="product: ${paginated.products}">
							<td th:text="${product.name}"></td>
							<td th:text="${product.salePrice}"></td>
							<td><img th:src="@{${'/assets/img/products/' + product.gender + '/' + product.category + '/' + product.imageName + '.jpeg'}}"/></td>
							<td>
								<button><a th:href="@{/product/moreDetails/visitor/}+${product.productId}">More Details</a></button>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="pagination">
					<button th:each="pageNum: ${#numbers.sequence(0, paginated.totalPages - 1)}"
					        th:text="${pageNum + 1}"
					        th:classappend="${pageNum == 0} ? 'active' : ''"
					        th:data-page="${pageNum}"
					        th:style="${pageNum == 0} ? 'background-color: orange;' : ''">
					</button>
				</div>
			</section>
		</main>
		<div th:insert="~{footer/footer.html::footer}"></div>
	</body>
	<script type="module" src="/js/products.js"></script>
</html>